# -----------------------------
# build outputs
# -----------------------------
build/
out/
.gradle/

# -----------------------------
# logs
# -----------------------------
*.log
logs/

# -----------------------------
# local env
# -----------------------------
.env
.env.*

# -----------------------------
# OS/editor
# -----------------------------
.DS_Store
.vscode/
.idea/
*.iml

